/* .App {
  text-align: center;
} */

.nav-main {
  color: white;
  margin: 20px;
}

.nav-main h1 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.5em;
}

.nav-main h4 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2em;
  color: slategray;
  margin: 0px 20px;
  display: flex;
  justify-content: right;
}

.nav-menu {
  margin: 0px 20px;
  width: 20%;
  display: flex;
  flex-direction: column;
}

.footer-container {
  display: flex;
  justify-content: center;
}

.footer-icons a {
  margin: 10px;
}
