/* .App {
  text-align: center;
} */

.nav-main {
  color: white;
  margin: 20px;
}

.nav-main a {
  text-decoration: none;
}

.nav-main a:hover {
  text-decoration: underline;
}

.nav-main a:active {
  text-decoration: none;
}

.nav-main h1 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.5em;
  margin-bottom: 5px;
}

.nav-main h4 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2em;
  color: slategray;
  margin: 0px 15px;
  display: flex;
  justify-content: right;
}

/* .nav-main h4:hover {
  color: white;
} */

.nav-main h4:active {
  color: white;
}

.nav-menu {
  /* margin: 0px 20px; */
  display: flex;
}

.about-container {
  color: white;
  margin: 50px ;
  /* width: 70%; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  column-gap: 20px;
}

/* .about-container p {
  margin: 20px;
} */

.tools-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  
}

.tools-container h1 {
  margin: 5px 10px;
}

@media all and (max-width: 800px) {
  .about-container {
    flex-direction: column-reverse;
  }
}

.samples-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 50px;
}

.sample-card a {
  font-weight: bold;
}

.tech-icons {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-evenly !important;
}

.contact-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.contact-container p {
  color: white;
}

.contact-form {
  background-color: slategray;
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* align-items: flex-end; */
}

.footer-container a {
  color: slategray;
  padding: 10px;
  margin: 10px;
}

.footer-container a:hover {
  color: white;
}

.footer-container a:active {
  color: white;
}

.selected-view {
  color: white !important;
}